@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORM STYLE */
.form-style {
  @apply border-transparent bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

.form-style input {
  background: none;
  color: #F1F2FF;
}
.form-style2 input {
  border: transparent;
  background: #2C333F;
  color: #F1F2FF;
  height: 48px;
  font-size: 16px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
}

.form-style input::placeholder,
.form-style2 input::placeholder {
  color: #6E727F;
}

.form-btn {
  margin-top: 15px; 
  height: 40px;
  border-radius: 8px; 
  font-weight: 500; 
  width: 100%;
  color: #F1F2FF; 
}

.form-btn:hover,
.card:hover {
  transform: scale(0.95); 
  box-shadow: none; 
  transition-duration: 200ms; 
}



/* Start Loading */
.wrapper {
  width: 200px;
  height: 60px;
  left: -2%;
  position: relative;
  z-index: 1;
}
  
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #E95420;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}
  
@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}
  
.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}
  
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
  
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(85, 85, 85, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}
  
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}
  
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}
  
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
/* End Loading */

/* Start Tab */
.active-button {
  background-color: #000814;
  color: #F1F2FF;
  border-radius: 9999px; 
  padding: 8px 20px; 
  transition: all 0.2s; 
  border: none;
  display: flex;
  align-items: center;
}

.inactive-button {
  background-color: transparent; 
  color: #999DAA; 
  border-radius: 9999px; 
  padding: 8px 20px;
  transition: all 0.2s; 
  border: none;
  display: flex;
  align-items: center;
}
/* End Tab */