@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start Form*/
.form-style {
  @apply border-transparent bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

.form-style input {
  background: none;
  color: #F1F2FF;
}

.form-style input::placeholder {
  color: #6E727F;
}

.ant-form-vertical .ant-form-item-label {
  padding: 0px;
}

.card-form .form-gateways {
  text-align: center;
}

.card-form .form-gateways .ant-btn {
  margin-right: 10px;
  margin-left: 10px;
  height: 60px;
  width: 80px;
  box-shadow: none;
  border-radius: 10px;
  border: transparent;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  /* background: #2C333F; */
  background: transparent;
}
.ant-btn {
  border: transparent;
}

.app-btn {
  border-top: 1px solid #2C333F;
}

.ant-tooltip-inner {
  margin-left: 8px;
}

.card-form .form-gateways .ant-btn:hover {
  transform: scale(0.95); 
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  /* background: #2C2F32; */
  background: #2C333F;
  transition-duration: 200ms; 
}

.card-form .form-gateways .ant-btn img {
  width: 30px;
}

.form-btn {
  margin-top: 15px; 
  height: 40px;
  border-radius: 8px; 
  font-weight: 500; 
  width: 100%;
  color: #F1F2FF; 
}

.form-btn:hover,
.card:hover {
  transform: scale(0.95); 
  box-shadow: none; 
  transition-duration: 200ms; 
}
/* End Form */

/* Start Loading */
.wrapper {
  width: 200px;
  height: 60px;
  left: -2%;
  position: relative;
  z-index: 1;
}
  
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #E95420;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}
  
@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}
  
.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}
  
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
  
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(85, 85, 85, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}
  
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}
  
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}
  
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
/* End Loading */

/* Start Tab */
.active-button {
  background-color: #000814;
  border-radius: 10px;
  padding: 8px 20px; 
  transition: all 0.2s; 
  /* border: 1px solid #EB6536; */
  border: transparent;
  display: flex;
  align-items: center;
}

.inactive-button {
  background-color: transparent; 
  color: #999DAA; 
  /* border-radius: 9999px;  */
  padding: 8px 20px;
  transition: all 0.2s; 
  border: none;
  display: flex;
  align-items: center;
}
/* End Tab */

.enable:hover,
.search-icon:hover {
  transform: scale(0.95); 
  box-shadow: none; 
  transition-duration: 200ms; 
}