/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

/* html,
body {
  font-family: var(--font-family), sans-serif;
  font-family:
    "Poppins",
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--neutralBg);
  color: var(--onNeutralBg) !important;
} */

body {
  background-color: var(--neutralBg);
  color: var(--onNeutralBg) !important;
  font-family: Roboto;
}

body,
:root {
  @apply overflow-x-hidden md:overflow-x-visible;
}

/* CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  @apply w-[5px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-button {
  @apply hidden;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full hover:bg-primary-opacity transition duration-300;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .cart_switch_section {
    @apply fixed z-[1000] top-0 h-screen duration-300 transition-all ease-linear;
  }

  /* .cart_switch_button {
    @apply absolute z-[1045] rounded-tl-full rounded-tr-full rounded-bl-full rounded-br w-[40px] h-[40px] top-2 flex items-center justify-center;
  } */

  /* .absolute_centering {
    @apply top-[50%] right-[50%] -translate-x-[50%] -translate-y-[50%];
  } */

  .flex_justify_between {
    @apply flex items-center justify-between;
  }

  .flex_justify_end {
    @apply flex items-center justify-end;
  }
  .flex_justify_center {
    @apply flex items-center justify-center;
  }
  .shadow_card {
    @apply shadow-xl;
  }

  .tw-absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

/* .primary_linear {
  background: linear-gradient(var(--primary-light-gray), var(--primary));
} */

/* .main_background {
  background-image: linear-gradient(
    to bottom,
    var(--primary-opacity),
    var(--neutralBg) 1%,
    var(--neutralBg)
  );
} */

/* .banner_background {
  background-image: linear-gradient(
    to bottom,
    transparent -300%,
    var(--neutralBg)
  );
} */

.main_width,
.nav_width {
  width: var(--main-width);
  left: var(--sidebar-horizontal-width);
  transition: all;
  transition-duration: 500ms;
}

/* .player_width {
  width: var(--main-width);
  left: var(--sidebar-horizontal-width);
} */

.sidebar_horizontal_width {
  width: var(--nav-width);
}

.sidebar_height {
  height: calc(100vh - var(--nav-height));
}

.switch_body_scroll {
  /* height: calc(100vh - 200px); */
  height: calc(100vh - 400px);
}

/* .genre_card_height {
  height: calc(100vh - var(--nav-height) - var(--player-height));
} */

/* .navbar_horizontal_width {
  width: calc(100% - var(--sidebar-width) - var(--aside-width));
} */

/* .theme_switch_button_shadow {
  box-shadow: var(--primary-light-gray) 0px 5px 14px 0px;
} */

/* .slide_up {
  transition: all 0.8s ease-in;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  color: var(--cardBg) !important;
  box-shadow: 0 0 0 1000px var(--primary-opacity) inset !important;
  -webkit-text-fill-color: #404040 !important;
}

input[type="checkbox"] {
  accent-color: var(--primary);
}

.Toastify__toast {
  background-color: var(--neutralBgAlt) !important;
  color: var(--onNeutralBg) !important;
}

/* ANTD */

/* .notify a:hover {
  color: inherit;
} */

/* Start Loading */
/* .progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
} */

/* Game detail */
/* .tw-absolute-center-horizontal {
  @apply absolute left-1/2 -translate-x-1/2;
} */

/* ANTD STYLE */

/* Form */
.ant-form-vertical .ant-form-item {
  margin-bottom: 0px;
}

.ant-form input,
.ant-input-affix-wrapper,
.ant-checkbox .ant-checkbox-inner {
  background-color: transparent !important;
  color: var(--onNeutralBg) !important;
  border: 1px solid var(--onNeutralBgDivider);
}
.ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
  background-color: var(--primary) !important;
}
.ant-btn-primary:disabled {
  background-color: transparent !important;
  color: var(--onNeutralBg) !important;
  border: 1px solid var(--onNeutralBgDivider);
}

.ant-form input::placeholder {
  color: #9ca3af;
}

/* Date Picker */
.ant-picker {
  padding: 0px 8px;
}
.ant-picker .ant-picker-input input::placeholder,
.ant-select-single.ant-select-open .ant-select-selection-item,
.ant-select .ant-select-selection-placeholder {
  color: #9ca3af;
}
.ant-picker,
.ant-select-selector {
  background-color: transparent !important;
  border: 1px solid var(--onNeutralBgDivider);
}
.ant-picker .ant-picker-suffix,
.ant-picker .ant-picker-clear,
.ant-picker .ant-picker-suffix:hover,
.ant-picker .ant-picker-clear:hover,
.ant-select .ant-select-arrow {
  color: var(--onNeutralBg);
}
.ant-picker .ant-picker-input > input,
.ant-select .ant-select-selection-item {
  color: var(--onNeutralBg);
}
.ant-picker-dropdown .ant-picker-panel-container {
  background-color: var(--neutralBgAlt);
}
.ant-picker-dropdown .ant-picker-cell {
  color: #9ca3af;
}
.ant-picker-dropdown .ant-picker-header,
.ant-picker-dropdown .ant-picker-header button,
.ant-picker-dropdown .ant-picker-content th,
.ant-picker-dropdown .ant-picker-cell-in-view {
  color: var(--onNeutralBg) !important;
}
.ant-picker-dropdown .ant-picker-header button:hover {
  color: var(--primary);
}

/* Ant Modal */
.ant-modal .ant-modal-content {
  background-color: var(--cardBg);
}

.ant-modal .ant-modal-footer {
  margin-top: 0;
}

.ant-modal .ant-modal-close {
  color: var(--onNeutralBgSecondary);
}
.ant-modal .ant-modal-close:hover {
  color: var(--onNeutralBg);
  background: var(--primary-opacity);
}

/* Popover */
.ant-popover {
  position: fixed;
  z-index: 999;
}
.ant-popover .ant-popover-content {
  margin-top: 10px;
}
.ant-popover-inner {
  background-color: var(--neutralBgAlt) !important;
}

/* Select */
.ant-select-dropdown {
  background-color: var(--neutralBgAlt);
}

.ant-select-dropdown .ant-select-item-option {
  color: var(--onNeutralBg);
}
.ant-select-dropdown .ant-select-item-option:hover {
  background-color: var(--primary-opacity);
}
.ant-select-dropdown .ant-select-item-option-selected {
  background-color: var(--primary-opacity) !important;
  color: var(--onNeutralBg) !important;
}
.ant-select-outlined .ant-select-selector {
  border: 1px solid var(--onNeutralBgDivider) !important;
}
.ant-select-outlined .ant-select-selector:hover {
  border: 1px solid var(--primary) !important;
}
.ant-select-outlined .ant-select-selector:focus-within {
  outline: 1px solid var(--primary) !important;
}

/* Tooltip */
.ant-tooltip .ant-tooltip-inner {
  color: var(--onNeutralBg) !important;
  background: var(--switchBg) !important;
}

.ant-tooltip .ant-tooltip-arrow::before {
  background: var(--switchBg) !important;
}

/* Progress Bar */
.ant-progress.ant-progress-circle .ant-progress-text {
  color: var(--onNeutralBg) !important;
}

/*  OTP*/
.otp-code input {
  background: transparent;
  color: var(--onNeutralBg);
  border: 0.5px solid var(--onNeutralBgDivider);
}

/* Radio Button */
.ant-radio-wrapper {
  margin-inline-end: 0 !important;
}
